/* stylelint-disable docusaurus/copyright-header */

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.logo{
	width: 40%;
}

@media screen and (max-width: 700px){
	.logo{
		width: 100%;
	}
}